<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css">
<!--    <link rel="stylesheet" href="/css/main.css" />-->
</head>
<body>

<header th:insert="blocks/header :: header "></header>
<main>
    <form class="row g-3 form-control">
        <div class="container mt-5 form-control-lg">
        <input id="singleFileUploadInput" type="file" name="file"  class="form-control form-control-lg" aria-label="Large file input example">
            <button type="submit" class="primary submit-btn">Submit</button>
        </div>


    </form>


    <div class="container mt-5">
        <h1>Домашняя страница</h1>
    </div>

    <div class="upload-container">
        <div class="upload-header">
            <h2>Spring Boot File Upload / Download Rest API Example</h2>
        </div>
        <div class="upload-content">
            <div class="single-upload">
                <h3>Upload Single File</h3>
                <form id="singleUploadForm" name="singleUploadForm">
<!--                    <input id="singleFileUploadInput" type="file" name="file" class="file-input" required />-->
                    <button type="submit" class="primary submit-btn">Submit</button>
                </form>
                <div class="upload-response">
                    <div id="singleFileUploadError"></div>
                    <div id="singleFileUploadSuccess"></div>
                </div>
            </div>
            <div class="multiple-upload">
                <h3>Upload Multiple Files</h3>
                <form id="multipleUploadForm" name="multipleUploadForm">
                    <input id="multipleFileUploadInput" type="file" name="files" class="file-input" multiple required />
                    <button type="submit" class="primary submit-btn">Submit</button>
                </form>
                <div class="upload-response">
                    <div id="multipleFileUploadError"></div>
                    <div id="multipleFileUploadSuccess"></div>
                </div>
            </div>
        </div>
    </div>

</main>
<script src="/js/main.js" ></script>
<div th:insert="blocks/footer :: footer"></div>
</body>
</html>
